@media screen and (max-width: 1000px) {
    section {
        margin-top: 9em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .imgAnimate{
        display: none;
    }
    #texto {
        float: none;
    }
}
@media screen and (max-width: 700px) {
    header nav ul li{
        border: 1px solid white;
    }
    header{
        position: relative;
    }
    header nav{
        display: block;
        text-align: center;
    }
    header nav ul{
        flex-direction: column;
    }
    section {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width: 800px) {
    footer .info2{
        display: none;
    }
}
@media screen and (max-width: 657px) {
    footer .info{
        display: none;
    }
    footer .info2{
        display: block;
        border: none;
    }
}