/* ---------- Geral ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  color: #fff;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.imgAnimate {
  min-width: 50vh;
  min-height: 50vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px 100px 100px 100px;
  border-style: groove;
}

#texto h1 {
  margin: 5px;
}

#texto ul {
  margin: 5px;
}

/* ---------- Geral ---------- */

body {
  position: static;
  height: 100%;
  background-image: linear-gradient(to bottom,
      #000000 20%,
      #2d4d45,
      #42e3bb 100%);
  background-attachment: fixed;
  margin-top: 95px;
}

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  margin: 0px;
  height: fit-content;
  background-color: black;
}

body > header > nav {
  height: fit-content;
  width: 100%;
  right: 0;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: space-around;
}

body > header > nav > ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header > nav > ul > li {
  position: relative;
  list-style: none;
}

body > header > nav > ul > li > a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

body > main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* ---------- Desorganizados ---------- */

body > .banner {
  width: 1px;
  height: 100px;
}

.logo {
  color: #42e3bb;
  text-shadow: 0px 0px 7px #8ce4ce;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.6s;
}

#link1 {
  width: 130vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
}

#link2 {
  width: 130vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

#link3 {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
}

#link4 {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

#link5 {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
}

#texto-projetos {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
}

#sub-titulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

#sub-titulo2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.expinfo {
  margin: 5px;
}

.expinfo2 {
  margin: 5px;
}
.projetos-divs{
  padding: 15px;
  margin-left: 10px;
  text-align: left;
}

#sub-texto-projetos {
  height: fit-content;
  width: fit-content;
  border-top: 1px solid white;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#sub-texto-projetos2 {
  border-top: 1px solid white;
  height: fit-content;
  width: fit-content;
  display: flex;
  font-size: 13px;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

#texto {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  
  text-align: center;
  margin: 12px;
  width: fit-content;
  height: fit-content;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img {
  height: 30vh;
  width: 30vh;
  border-radius: 15px 15px 15px 15px;
}

body > footer {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
}

body > footer .info {
  margin-left: 30px;
  margin-right: 30px;
  height: 110px;
  width: 30vh;
  display: flex;
  flex-direction: column;
}

body > footer .info h4 {
  border-bottom: 1px solid white;
  margin-top: 5px;
}

.dividir {
  background-color: white;
  height: 120px;
  width: 1px;
}

body > footer h4 {
  text-align: center;
  color: #42e3bb;
  text-shadow: 0px 0px 7px #8ce4ce;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.6s;
  padding-bottom: 5px;
}

body > footer .info ul {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body > footer img {
  height: 20px;
  width: 20px;
}

body > rodape {
  border: 1px solid white;
}

/* ---------- animações ---------- */
[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="rigth"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* ---------- display ----------*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}