* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.imgAnimate {
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px 100px 100px 100px;
  border-style: groove;
}
.perfilbox2 {
  display: flex;
  margin: 0px;
  width: fit-content;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.perfilbox3 {
  height: fit-content;
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  align-items: center;
}
.perfilbox3 h3{
  text-align: center;
}
.perfilbox3 p{
  text-align: left;
}
nav {
  height: fit-content;
  width: 100%;
  right: 0;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
.banner {
  width: 1px;
  height: 100px;
}
body {
  position: static;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #000000 20%,
    #2d4d45,
    #42e3bb 100%
  );
  background-attachment: fixed;
}
.corpo {
  display: flex;
  height: 100%;
  width: 100%;
  /* align-items: center; */
  /* align-content: center; */
  flex-wrap: wrap;
  justify-content: center;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  margin: 0px;
  height: fit-content;
  background-color: black;
}
.logo {
  color: #42e3bb;
  text-shadow: 0px 0px 7px #8ce4ce;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.6s;
}
#perfil {
    width: 100vh;
    height: fit-content;
    border-radius: 15px 15px 15px 15px;
    margin: 30px;
    margin-bottom: 120px;
  }
#habilidades {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
  flex-direction: row-reverse;
}
#servicos {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
}
#conhecimentos {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
  flex-direction: row-reverse;
}
#projetos {
  width: 100vh;
  height: fit-content;
  border-radius: 15px 15px 15px 15px;
  margin: 30px;
  margin-bottom: 120px;
}
#texto-projetos {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}
#sub-texto-projetos {
  border-top: 1px solid white;
  padding-left: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  font-size: 15px;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projetos-divs{
  margin: 17px;
  text-align: left;
}
.projetos-divs a{
    font-size: 20px;
}
#texto {
  border: 1px solid white;
  border-radius: 15px;
  width: 1000px;
  color: white;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  margin: 15px;
}

#texto h1 {
  display: flex;
  align-items: center;
}
#texto p {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.foto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto img {
  height: 30vh;
  width: 30vh;
  border-radius: 15px 15px 15px 15px;
}
footer {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
}
footer .info {
  padding: 5px 5px 0px 20px;
  height: 110px;
  width: fit-content;
  display: flex;
  border-right: 1px solid white;
  flex-direction: column;
}
footer .info2 {
  padding: 5px 5px 0px 20px;
  height: 110px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
footer h4 {
  text-align: center;
  color: #42e3bb;
  text-shadow: 0px 0px 7px #8ce4ce;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.6s;
  padding-bottom: 5px;
}
footer .info ul {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .info ul li a {
  display: flex;
}
footer img {
  height: 20px;
  width: 20px;
}
/* ---------- animações ---------- */
[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="rigth"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* ---------- display ----------*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
